---
import { Icon } from 'astro-iconify';

const employmentHistory = [
    {
      title: 'Freelance Python Developer',
      time: '2021 - 2023',
      description:
        'Developed small solutions (primarily VK and Telegram bots) for various clients around the world. Accompanied projects from development to full launch, provided subsequent technical support, and advised clients on expanding and enhancing product functionality in line with their business growth needs.',
    },
    {
      title: 'Backend Developer & AI Engineer',
      company: {
        name: 'Suvvy AI',
        description: 'A startup that integrates ChatGPT into different messengers and CRMs',
      },
      time: '2023 - now',
      website: 'https://suvvy.ai',
      description:
        'Was at the forefront of the project, developing the backend for the user dashboard, integrating ChatGPT with various messengers and CRM systems, and devising strategies to tailor ChatGPT to meet client demands.',
    },
  ],
  skills = {
    'Programming Languages': [
      { name: 'Python', icon: 'logos:python' },
      { name: 'Java', icon: 'logos:java' },
      { name: 'Javascript', icon: 'logos:javascript' },
      { name: 'C# (Unity)', icon: 'logos:unity' },
    ],
    'Python Development': [
      { name: 'FastAPI', icon: 'logos:fastapi-icon' },
      { name: 'Flask', icon: 'logos:flask' },
      { name: 'Aiogram', icon: 'logos:telegram' },
      { name: 'Langchain', icon: 'logos:openai-icon' },
    ],
    'Other Technologies': [
      { name: 'Docker', icon: 'logos:docker-icon' },
      { name: 'Git', icon: 'logos:git-icon' },
      { name: 'MongoDB', icon: 'logos:mongodb-icon' },
      { name: 'SQL', icon: 'mdi:database' },
      { name: 'Regex' },
      { name: 'Markdown', icon: 'logos:markdown' },
      { name: 'Mac OS', icon: 'logos:apple' },
      { name: 'Linux', icon: 'logos:linux-tux' },
    ],
    'Languages': [
      { name: '🇷🇺 Russian' },
      { name: '🇺🇸 English' },
    ],
  },
  openSourceProjects = [
    {
      name: 'Greetbot',
      github: 'https://github.com/barabum0/greetbot',
      description: 'Bot that accepts applications in the Telegram channel and sends a greeting',
    },
    {
      name: 'Aiogram Translation',
      github: 'https://github.com/barabum0/aiogram-translation',
      link: 'https://pypi.org/project/aiogram-translation',
      description: 'Aiogram translation addon',
    },
    {
      name: 'SuvvyAPI',
      github: 'https://github.com/suvvyai/suvvyapi',
      link: 'https://pypi.org/project/suvvyapi',
      description: 'Python API wrapper for Suvvy AI API',
    },
    {
      name: 'starlette-ras-handle',
      github: 'https://github.com/barabum0/starlette-ras-handle',
      link: 'https://pypi.org/project/starlette-ras-handle',
      description: 'This library patches starlette, so you can handle "RuntimeError: Caught handled exception, but response already started." exception',
    },
    {
      name: 'pixel-sort-effect',
      github: 'https://github.com/barabum0/pixel-sort-effect',
      description: 'Simple tool for pixel sorting effect written in pure Rust.',
    },
  ];
---

<main
  class="relative m-4 h-[297mm] w-[210mm] overflow-hidden rounded-md bg-white px-8 py-4 shadow-lg print:m-0 print:h-screen print:w-screen print:rounded-none print:shadow-none"
>
  <section
    class="mb-4 flex items-stretch justify-between border-b border-black p-4"
  >
    <div class="flex flex-col gap-2">
      <div class="flex flex-1 flex-col justify-center gap-2">
        <h1 class="text-4xl font-bold">Roman Poltorabatko</h1>
        <h2 class="text-xl">Python Developer</h2>
      </div>
      <div class="flex gap-4">
        <a
          href="https://t.me/barabumbum"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="telegram" class="h-5 w-5" /> @barabumbum
        </a>
        <a
          href="https://github.com/barabum0"
          class="flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon pack="mdi" name="github" class="h-5 w-5" /> github.com/barabum0
        </a>
        <a href="mailto:r.m.poltorabatko@gmail.com" class="flex items-center gap-1">
          <Icon pack="mdi" name="email" class="h-5 w-5" /> r.m.poltorabatko@gmail.com
        </a>
      </div>
    </div>
  </section>
  <section class="space-y-2 p-4">
    <h2 class="text-2xl font-bold">Skills</h2>
    {
      Object.entries(skills).map(([category, list]) => (
        <p class="flex flex-wrap gap-2 indent-6">
          <span class="font-bold">{category}:</span>
          {list.map(({ name, icon }, i) => (
            <span class="flex items-center gap-1 indent-0">
              {icon && <Icon name={icon} class="h-4 w-4" />}
              {`${name}${i === list.length - 1 ? '.' : ','}`}
            </span>
          ))}
        </p>
      ))
    }
  </section>
  <section class="space-y-2 p-4">
    <h2 class="text-2xl font-bold -mb-2">Work Experience</h2>
    {employmentHistory.map(job => (
        <div>
          <p class="my-px mt-6 flex justify-between font-bold mb-0.5">
            <span class="w-fit rounded-md bg-gray-300 px-2">{job.title}</span>
            <span>{job.time}</span>
          </p>
      {job.company && (
            <p class="flex gap-2">
              <span>
                <b>Company: </b>
                {!job.website && job.company.name}
                {job.website && (<a class="underline", href={job.website}>{job.company.name}</a>)}
              </span>
              <span class="text-neutral-700">// {job.company.description}</span>
            </p>
        )}
      <p class="italic mt-1">{job.description}</p>
      </div>
      ))}
      </section>
      <section class="space-y-2 p-4">
        <h2 class="text-2xl font-bold">Open-Source Projects</h2>
        {
          openSourceProjects.map(({ description, link, name, github }) => (
              <div class="flex-col gap-1">
                <div class="flex-row">
                  <span class="font-bold">{name}</span>
                  <span class="flex-row">
                    ({link && (
                        <span class="mr-1">
                        <a
                            class="underline"
                            href={link}
                            target="_blank"
                            rel="noopener noreferrer"
                        >Site</a>,</span>)}<a
                      class="underline"
                      href={github}
                      target="_blank"
                      rel="noopener noreferrer"
                  >GitHub</a>)
          </span>
                </div>
                <p class="italic">{description}.</p>
              </div>
          ))
          }
          <br />
          </section>
  <div
    class="pointer-events-none absolute -right-28 bottom-56 font-mono text-[25rem] font-bold opacity-5"
    aria-hidden
  >
    {'def'}
  </div>
</main>
